body {
  margin: 0;
  padding: 20px;
  font-family: eurocaps;
  color: #feffff;
  background-color: #030305;
}

/*table, th, td {*/
/*}*/
th {
  background-color: #a0cce0;
  color: #009;
}

td {
  color: #005;
}

tbody tr:nth-child(even) {
  background-color: lightgrey
}

tbody tr:nth-child(odd) {
  background-color: darkgrey
}

@font-face {
    font-family: eurocaps;
    src: url(../fonts/EUROCAPS.TTF);
}
